HOST=0.0.0.0
PORT=1337
APP_KEYS=local-key-one,local-key-two,local-key-three,local-key-four
API_TOKEN_SALT=local-api-token-salt
ADMIN_JWT_SECRET=local-admin-jwt-secret
TRANSFER_TOKEN_SALT=local-transfer-token-salt
JWT_SECRET=local-jwt-secret
ENCRYPTION_KEY=local-encryption-key-1234567890
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=guangtai_cms
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=local-strapi-password
DATABASE_SSL=false
POSTGRES_DB=guangtai_cms
POSTGRES_USER=strapi
POSTGRES_PASSWORD=local-strapi-password
